@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.translaterSection{
    margin-top: 25px;
}

.translateTextArea > textarea{
    width: 100%;
    min-height: 200px;
    padding: 25px 30px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 0;


    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height, or 118% */

    display: flex;
    align-items: center;

}

.colorizeButton{
    background: #6979F8;
    border-radius: 6px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    align-items: center;
    text-align: center;
    padding: 10px 15px;
    /* Color/Neutral/6 - White */

    border: 0;
    color: #FFFFFF;

}


.translateTextArea > textarea:focus{
    outline: none;
}

.colorRight> textarea{
    background: #F7F5F9 !important;
}