@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.sectionTranslations{
    margin-top: 25px;

}

.translationsSection{
    background: #ffff;
    border-radius: 8px;
}

.translations_list{
    padding: 25px;
}

.smallTitle p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height, or 118% */

    /*display: flex;*/
    align-items: center;

    /* Color/Neutral/3 - Grey 75% */
    color: #D0C9D6;
}

.wordTranslated h6{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height, or 118% */


    color: #3F3356;
}

.wordLevel h6{
    width: 40%;
    margin: auto;
    background: #E5E7FA;
    border-radius: 4px;


    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 13px;
    /* identical to box height, or 162% */


    align-items: center;
    text-align: center;

    /* Color/Accent/1 - Blue */

    color: #6979F8;

}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    right: 0;
    position: absolute;
    top: 0;
    height: 15px;
    width: 15px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    height: 4px;
    width: 7px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background: #6979F8;
    border-color: #6979F8;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.customButton button{
    background: #6979F8;
    border-radius: 6px;
    width: 87px;
    height: 33px;


    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    border: 0;
    align-items: center;
    text-align: center;


    margin-top: 20px;

    /* Color/Neutral/6 - White */

    color: #FFFFFF;
}
