
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.sectionSwitcher{
    margin-top: 200px;
    border-radius: 8px 8px 8px 8px;

}

.languageTitle{
    text-align: center;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(208, 201, 214, 0.4);
    border-radius: 8px 8px 0px 0px;
}

.wtBg{
    text-align: center;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(208, 201, 214, 0.4);
    border-radius: 8px 8px 0px 0px;
}
.languageTitle h5{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #3F3356;
    padding: 15px 0 0 0;
}

.blueLine{
    width: 15%;
    background: blue;
    height: 3px;
    margin: auto;
}



.languageChangerSection{
    margin-top: 200px;
    border-radius: 8px 8px 8px 8px;
}

.wtBackground{
    background: #fff;
    border-radius: 8px 8px 8px 8px;
}

.languageTitle{
    text-align: center;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(208, 201, 214, 0.4);
    border-radius: 8px 8px 0px 0px;
}

.languageTitle h5{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    text-align: center;
    text-transform: uppercase;
    /* Color/Neutral/2 - Grey */
    color: #3F3356;
    padding: 15px 0 0 0;
}
.blueLine{
    width: 15%;
    background: blue;
    height: 3px;
    margin: auto;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.specialPadding{
    padding: 25px 0;
}

.languageTitleName{
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */
    align-items: center;

    color: #1A051D;
}

.btnActive button:focus{
    outline: none;
}

.btnInactive button:focus{
    outline: none;
}

.btnActive button{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    background: transparent;
    text-align: center;
    text-transform: uppercase;

    /* Color/Neutral/2 - Grey */
    border: 0;
    color: #3F3356;

    border-bottom: 3px solid #6979F8;


    width: 50%;
    padding: 15px 0px 10px 0px;
}

.btnInactive button{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    background: transparent;
    border: 0;
    text-align: center;
    text-transform: uppercase;

    color: #D0C9D6;

    width: 70%;
    padding: 15px 0px 10px 0px;
}