@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.logoName{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    text-transform: uppercase;
    color: #6979F8;
    margin: 0;
    letter-spacing: 1px ;

}

.headerBackground{
    background-color: #fff;
    height: 60px;
    align-items: center;
}

.headerLoginBtn{
    background-color: #6979F8 !important;
    border-radius: 8px;
    padding: 2px 20px !important;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 18px;
    /* identical to box height, or 138% */

    display: flex;
    align-items: center;
    text-align: center;
    border: 0;
    /* Color/Neutral/6 - White */

    color: #FFFFFF !important;
}
