@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.commonSection{
    width: 100%;
    padding: 15px 0;
    background: #fff;
    text-align: center;
    border-left: 1px solid #ECE9F1;
    border-bottom: 1px solid #ECE9F1;
    height: 55px;
}

.customSelect{
    width: 90%;
    border: 0;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    align-items: center;

    /* Color/Neutral/3 - Grey 75% */

    color: #D0C9D6;

}

.customSelect:focus{
    outline: none;
}

.searchIcon {
    display: flex;
    align-items: center;
}

.specialPad{
    padding: 15px !important;
}

.inputValid input{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    /* Color/Neutral/3 - Grey 75% */
    border: 0;
    color: #D0C9D6;
}

.inputValid input:focus{
    outline: none;
}

.inputValid input::placeholder{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    /* Color/Neutral/3 - Grey 75% */

    color: #D0C9D6;
}

.cleanInput button{
    border: 0;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #D0C9D6;

}

.cleanInput button:focus{
    outline: none;
}

.cleanInput i{
    font-size: 15px;
}