@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(205,187,249);
    background: linear-gradient(15deg, rgba(205,187,249,1) 31%, rgba(205,221,244,1) 68%);
    min-height: 100vmin;
}

.App{
    min-height: 100vmin;
}

.App:before{
    content: "TRANSLATOR";
    font-size: 220px;
    font-weight: 900;
    margin-top: 130px;
    width: 100%;
    letter-spacing: 5px;
    text-align: center;
    opacity: 0.25;
    color: #fff;
    position: fixed;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    z-index: -1;
}

body:after{

}